button,
.btn {
    @include heading-font;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: center;
    user-select: none;

    &:hover {
        text-decoration: none;
    }

    &:focus,
    &:active {
        box-shadow: none;
        outline: none;
        text-decoration: none;
    }
}
